<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <style>
        .vh-5 {
            height: 5vh;
        }
        .vh-90 {
            height: 90vh;
        }
        .vw-80 {
            width: 80vw;
        }
        .icon-size {
            width: 14em;
            height: 13em;
        }
        .file-menu-button {
            width: 6em;
            height: 6em;
            border: none;
            background-color: transparent;
            outline: none;
        }
        .file-menu-button:focus {
            border: none;
        }
        .file-menu-button-image-button-size {
            width: 4em;
            height: 4em;
        }
        .w-min{
            width: min-content;
        }
    </style>
</head>
<body class="p-1">
<div class="container-fluid">
    <div class="vh-5 d-flex justify-content-center">
        <input id="filter-input" type="text" class="vw-80">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" style="border-radius: 15px; margin-left: 10px">
            <i class="fas fa-plus"></i>
        </button>
    </div>
    <div id="files-slide" class="vh-90 row pt-3 pb-3" style="overflow: scroll !important;">

    </div>
    <div class="vh-5">
        <!-- Content for the last part -->
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Upload</h1>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"><i class="fa-solid fa-x"></i></button>
            </div>
            <div class="modal-body">
                <label for="files-form">Files:</label>
                <input id="files-form" type="file" multiple>
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="sendFiles()">Submit</button>
                <br>
                <label for="directory-name">Create dir:</label>
                <input id="directory-name" type="text">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="createDirectory()">Submit</button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="renameModal" tabindex="-1" aria-labelledby="renameModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="renameModalLabel">Upload</h1>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"><i class="fa-solid fa-x"></i></button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="old_path">Old Path</label>
                    <input type="text" class="form-control" id="old_path" placeholder="NewPath">
                </div>
                <div class="form-group">
                    <label for="new_path">New Path</label>
                    <input type="text" class="form-control" id="new_path" placeholder="NewPath">
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" onclick="RenameFile()">Rename</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<script>
    let files = JSON.parse('{{.Files}}');
    $(document).ready(() => { updateFilesSlide() })
    $("#filter-input").on("input", () => { updateFilesSlide()})

    function updateFilesSlide() {
        let currentPath = GetCurrentPathFromUrl(document.URL)
        let parentPath = GetParentPathFromCurrentPath(currentPath)

        let filesSlide = `
                    <div class="d-flex flex-column w-min h-min align-items-center col">
                        <form class="d-flex flex-row" method="get" action="/files/${parentPath}">
                            <input type="image" src="/static/back.png" class="icon-size" alt="hello">
                        </form>
                        <p>..</p>
                    </div>
                `

        let inputValue = GetFilterValue().toLowerCase();

        files
            .filter((file) => file.Name.toLowerCase().includes(inputValue))
            .forEach((file) => {
                filesSlide += `
                    <div class="d-flex flex-column w-min h-min align-items-center col">
                        <div class="d-flex flex-row">
                        <form method="get" action="/${file.IsDir ?"files":"inline"}/${currentPath}/${file.Name}">
                            <input type="image" src="/static/${file.IsDir ?"directory":"file"}.png" class="icon-size" alt="hello">
                        </form>
                        <div>
                          <button class="file-menu-button" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img src="/static/menu.png" class="file-menu-button-image-button-size">
                          </button>
                          <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                            <a class="dropdown-item" type="button" href="/download/${currentPath}/${file.Name}">Download</a>
                            <button class="dropdown-item" type="button" onclick="RenameFile()" data-toggle="modal" data-target="#renameModal">Rename</button>
                            <button class="dropdown-item" type="button" onclick="GetRequestAndReload('/delete/${currentPath}/${file.Name}')">Delete</button>
                          </div>
                        </div>
                        </div>
                        <p>${file.Name}</p>
                    </div>
                `
            })

        $("#files-slide").html(filesSlide)
    }

    function GetCurrentPathFromUrl(url) {
        return url.split("?")[0].split("/").slice(4).join("/")
    }

    function GetParentPathFromCurrentPath(path) {
        if (!path.includes('/')) {
            return "";
        }

        return path.replace(/\/[^/]*$/, '') || '/';
    }

    function GetFilterValue() {
        return $("#filter-input").val()
    }

    function sendFiles() {
        const formData = new FormData();

        let files = document.getElementById("files-form").files;
        for(let i = 0; i < files.length; i++){
            let file = files[i];
            formData.append(`file-${file.Name}`, file);
        }

        const xhr = new XMLHttpRequest();
        let url = `/upload/${GetCurrentPathFromUrl(document.URL)}`
        alert(url)
        xhr.open('POST', url, true);
        xhr.send(formData);
    }

    async function GetRequestAndReload(url) {
        await fetch(url, { method: 'GET', credentials: 'include'})
        location.reload()
    }

    async function RenameFile() {
        let oldPathInput = document.getElementById("old_path")
        let newPathInput = document.getElementById("new_path")

        let oldPath = oldPathInput.value
        let newPath = newPathInput.value
        if (oldPath === "" || newPath === ""){
            return
        }

        oldPathInput.value = ""
        newPathInput.value = ""
        await GetRequestAndReload(`/rename?new_path=${newPath}&old_path=${oldPath}`)
    }

    async function createDirectory() {
        let dirInput = document.getElementById("directory-name")
        let dirName = dirInput.value
        dirInput.value = ""

        let currentPath = GetCurrentPathFromUrl(document.URL)
        let url = `/create/${currentPath}/${dirName}`
        await GetRequestAndReload(url)
    }
</script>
</body>
</html>